<!-- For to display list and map-->
<div class="row" style="width: 1300px;">
    <div class="right-div col-md-6 col-sm-6 col-xs-6" style="height: 850px; overflow-y: scroll">
        <div ng-click="gotoBusiness(item.url)" class="grid" ng-repeat="item in fetchData"
             class="item-detail" id="{{ item.id }}">
            <div class="item-rating pull-left">{{item.rating}}</div>
            <div class="item-name item-styles">{{$index + 1}}.{{item.name}}</div>
            <div class="pull-right"><img class="item-image img-responsive" ng-src="{{item.photo}}"/></div>
            <div class="item-name item-phone"> &#9990; {{item.phone}}</div>
            <div class="item-name item-address">{{item.address}}
                <div>{{item.city}}</div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 ">
        <div id="map" style="width: 80%; height: 850px;"></div>
    </div>
</div>